/* SGT brand color */
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #5CA5D2;
  --md-primary-fg-color--light: #78B5DC;
  --md-primary-fg-color--dark: #438EBE;
}

/* Dark mode */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #24516F;
  --md-primary-fg-color--light: #326F95;
  --md-primary-fg-color--dark: #193B50;
}
